<div class="authbodydiv">
	<div class="samplediv" id="usedform2">
		<h1 class="authtitle">Editing Sample</h1>
		<div class="formdiv"
			<%= render 'form', sample: @sample %>

			<div class="troublesomelinks"><%= link_to 'Show', @sample %> |
			<%= link_to 'Back', samples_path %></div>
			
		</div>
	</div>
</div>
