<div class="authbodydiv">
	<div class="samplediv">
		<p id="notice"><%= notice %></p>

		<h1 class="authtitle">Samples</h1>

		<tbody>
			<% if current_user.samples != [] %>
				<% current_user.samples.each do |sample| %>
				<tr>
					<div class="sampletitle"><td><%= sample.title %></td></div>

					<div class="samplecommands">
						<td><%= link_to 'Show', sample %></td>
						<td><%= link_to 'Edit', edit_sample_path(sample) %></td>
						<td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% yeet = sample.audio_on_disk%>
						<td><%= link_to 'Load Sample', loading_path(:yeet => yeet) %> </td>
						
					</div>
					
			</tr>
				<% end %>
    		<% else %>
				<h2> Create a sample!</h2>
			<% end %>
		</tbody>
		</table>

	<br>

	<div class="troublesomelinks" id="newsample"><%= link_to 'New Sample', new_sample_path %></div>
	</div>
</div>
