<div class="authbodydiv">
	<div class="samplediv" id="usedform">
		<h1 class="authtitle">New Sample</h1>
			<div class="formdiv">
				<%= render 'form', sample: @sample %>

				<div class="troublesomelinks"><%= link_to 'Back', samples_path %></div>
			</div>
	</div>
</div>
