<div class="authbodydiv">
	<div class="samplediv" id="showsample">
		<p id="notice"><%= notice %></p>

		<p id="p">
  			<h2 class="authtitle" id="sampletitle">Title:</h2>
			<div id="samplename"><%= @sample.title %></div>
		</p>


	<div class="troublesomelinks"><%= link_to 'Download', @sample.audio%> |
	<%= link_to 'Edit', edit_sample_path(@sample) %> |
	<%= link_to 'Back', samples_path %></div>
	</div>
</div>
