<div class="authbodydiv">
	<div class="authdiv">
		<h2 class="authtitle">Sign up today</h2>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %><br />
    			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  			</div>

  			<div class="field">
    			<%= f.label :password %>
    			<%= f.password_field :password, autocomplete: "new-password" %>
  			</div>

  			<div class="field">
    			<%= f.label :password_confirmation %><br />
    			<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  			</div>

  			<div class="actions">
				<%= f.submit("Sign up", :class => "formbutton") %>
			</div>
		<% end %>

		<button class="formbutton"><%= render "devise/shared/links" %></button>
	</div>
</div>
