<div class="authbodydiv">
	<div class="authdiv">
		<h2 class="authtitle">Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			</div>

			<div class="actions">
				<%= f.submit("Reset password", :class => "formbutton", :id => "resetpassword") %>
			</div>
		<% end %>

		<div class="troublesomelinks"><%= render "devise/shared/links" %></div>
	</div>
</div>
