<div id="space01"></div>

<div class="keyboard">
	<div class="keyboard_top">
		<h2>kTunes</h2>
		<button onmousedown="setmode()" id="keyboardmode">Toggle Sample Mode</button>
	</div>
	<div class="keyboard_keys">
		<% letters = ['8', '9', '0', 'q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k'] %>
		
		<div class="keyboard_black_keys"><% for k in (0..14) %><button onmousedown="playkey(<%= k %>, 0)" id="<%= "bk#{k}" %>"></button><% end %></div>
		<div class="keyboard_white_keys"><% for c in (0..20)%><button onmousedown="playkey(<%= c %>, 1)"><i class="keyboardletters"><%= letters[c] %></i></button><% end %></div>
	</div>
	
	<% for i in (1..21) %>
	<audio id="<%= "w#{i}" %>">
		<source src=<%= asset_path("#{i}.ogg") %> type="audio/ogg">
	</audio>
	<% end %>
	
	<% for j in (100..114) %>
	<audio id="<%= "b#{j}" %>">
		<source src=<%= asset_path("#{j}.ogg") %> type="audio/ogg">
	</audio>
	<% end %>
	
	<% if @samplemode == 1 %>
		<% for i in (1..21) %>
			<% if i == 1 %>
				<audio id="<%= "ws#{i}" %>">
					<source src=<%= asset_path("sample.wav") %> type="audio/wav">
				</audio>
			<% else %>
				<audio id="<%= "ws#{i}" %>">
					<source src=<%= asset_path("#{i}.wav") %> type="audio/wav">
				</audio>
			<% end %>
		<% end %>
		
		<% for j in (100..114) %>
		<audio id="<%= "bs#{j}" %>">
			<source src=<%= asset_path("#{j}.wav") %> type="audio/wav">
		</audio>
		<% end %>
	<% end %>
	
	<script>
		var samplemode = <%= @samplemode %>;
		var currentmode = 0;
		function playkey(key, color){
			var keyaud;
			if(color == 0) {
				if(currentmode == 0) {
					keyaud = document.getElementById("b" + (key + 100));
					keycopy = keyaud.cloneNode(true);
					keycopy.position = 0;
					keycopy.play();
				}
				
				else {
					keyaud = document.getElementById("bs" + (key + 100));
					keycopy = keyaud.cloneNode(true);
					keycopy.position = 0;
					keycopy.play();
				}
			}
			
			
			else {
				if(currentmode == 0) {
					keyaud = document.getElementById("w" + (key + 1));
					keycopy = keyaud.cloneNode(true);
					keycopy.position = 0;
					keycopy.play();
				}
				
				else {
					keyaud = document.getElementById("ws" + (key + 1));
					keycopy = keyaud.cloneNode(true);
					keycopy.position = 0;
					keycopy.play();
				}
			}
		}
		
		document.onkeydown = function(e) {
			e = e || window.event;
			
			if(e.key == "8") {
				playkey(0, 1);
			}
			if(e.key == "9") {
				playkey(1, 1);
			}
			if(e.key == "0") {
				playkey(2, 1)
			}
			if(e.key == "q") {
				playkey(3, 1)
			}
			if(e.key == "w") {
				playkey(4, 1)
			}
			if(e.key == "e") {
				playkey(5, 1)
			}
			if(e.key == "r") {
				playkey(6, 1)
			}
			if(e.key == "t") {
				playkey(7, 1)
			}
			if(e.key == "y") {
				playkey(8, 1)
			}
			if(e.key == "u") {
				playkey(9, 1)
			}
			if(e.key == "i") {
				playkey(10, 1)
			}
			if(e.key == "o") {
				playkey(11, 1)
			}
			if(e.key == "p") {
				playkey(12, 1)
			}
			if(e.key == "a") {
				playkey(13, 1)
			}
			if(e.key == "s") {
				playkey(14, 1)
			}
			if(e.key == "d") {
				playkey(15, 1)
			}
			if(e.key == "f") {
				playkey(16, 1)
			}
			if(e.key == "g") {
				playkey(17, 1)
			}
			if(e.key == "h") {
				playkey(18, 1)
			}
			if(e.key == "j") {
				playkey(19, 1)
			}
			if(e.key == "k") {
				playkey(20, 1)
			}
			if(e.key == "*") {
                playkey(0, 0)
            }
            if(e.key == "(") {
                playkey(1, 0)
            }
            if(e.key == "Q") {
                playkey(2, 0)
            }
            if(e.key == "W") {
                playkey(3, 0)
            }
            if(e.key == "E") {
                playkey(4, 0)
            }
            if(e.key == "T") {
                playkey(5, 0)
            }
            if(e.key == "Y") {
                playkey(6, 0)
            }
            if(e.key == "I") {
                playkey(7, 0)
            }
            if(e.key == "O") {
                playkey(8, 0)
            }
            if(e.key == "P") {
                playkey(9, 0)
            }
            if(e.key == "S") {
                playkey(10, 0)
            }
            if(e.key == "D") {
                playkey(11, 0)
            }
            if(e.key == "G") {
                playkey(12, 0)
            }
            if(e.key == "H") {
                playkey(13, 0)
            }
            if(e.key == "J") {
                playkey(14, 0)
            }
		}
		
		function setmode() {
			if(samplemode == 0) {
				alert("No sample loaded.");
			}
			
			else {
				var modebutton = document.getElementById("keyboardmode");
				if(currentmode == 0) {
					currentmode = 1;
					modebutton.textContent = "Untoggle Sample Mode";
				}
				
				else {
					currentmode = 0;
					modebutton.textContent = "Toggle Sample Mode";
				}
			}
		}
	</script>
	
</div>
