	<% x = @yuut %>

	<%FileUtils.cp(x, 'app/assets/temp/sample.wav')%>
	
	<% x = 2 %>
	<% y = 100 %>
	<% for c in (1..35) %>
		<% case c %>
			<% when 2, 4, 5, 7, 9, 11, 12, 14, 16, 17, 19, 21, 23, 24, 26, 28, 29, 31, 33, 35 %>
				<% system("app/assets/rubberband/rubberband.linux --pitch #{c} -q 'app/assets/temp/sample.wav' 'app/assets/temp/#{x}.wav'");x = x + 1 %>
			<% when 1, 3, 6, 8, 10, 13, 15, 18, 20, 22, 25, 27, 30, 32, 34 %>
				<% system("app/assets/rubberband/rubberband.linux --pitch #{c} -q 'app/assets/temp/sample.wav' 'app/assets/temp/#{y}.wav'");y = y + 1 %>
		<% end %>
	<% end %>
	
	<h1 align=center class="h1">Loading your sample</h1>
	<h1 align=center class="h1">Please, wait...</h1>
	<div class="loader"><div class="loader2"></div></div>

	<script>
		setTimeout(function() {
			window.location = "<%= homepage_path %>";
		}, 5000);
	</script>
