<div class="authbodydiv">
	<div class="authdiv">
		<h2 class="authtitle">Log in</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			</div>

			<div class="field">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "current-password" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="field">
					<%= f.check_box(:remember_me, :class => "rememberme") %>
					<%= f.label :remember_me %>
				</div>
			<% end -%>

			<div class="actions">
				<%= f.submit("Log in", :class => "formbutton") %>
			</div>
			<% end %>

		<div class="troublesomelinks"><%= render "devise/shared/links" %></div>
	</div>
</div>
