/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body, html {
 	padding: 0;
 	margin: 0;
 }
 
 div {
 	padding: 0;
 	margin: 0;
 }
 
 header {
 	text-align: center;
 	position: relative;
 	height: 225px;
 	padding: 0;
 	margin: 0;
 }
 
 .logodiv {
 	position: absolute;
 	top: 73px;
 	left: 50%;
 	transform: translate(-50%, 0%);
 }
 
 .headerimage {
 	position: absolute;
 	top: 0;
 	height: 129px;
 	width: 100%;
 	background-image: image-url("headertiles.png");
 	background-repeat: repeat-x;
 	opacity: 0.75;
 	padding: 0;
 	margin: 0;
 	border-bottom: 1px solid #888888;
 }
 
nav a {
	text-decoration: none;
	padding-right: 5px;
	color: #424242;
}

nav a:visited {
	color: #707070;
}

/*Devise styling*/

@font-face {
	font-family: Roboto;
	src: asset-url("Roboto-Thin.ttf");
}

@font-face {
	font-family: CaviarDreams;
	src: asset-url("CaviarDreams.ttf");
}

.authbodydiv {
	text-align: center;
	padding-top: 60px;
	border-top: 1px solid #cecece;
}

.authdiv {
	margin: auto;
	height: 400px;
	width: 350px;
	/*border: 1px solid #cecece;*/
	border: hidden;
	border-radius: 10px;
}

.authtitle {
	font-family: Roboto;
	font-size: 45px;
	color: #2b2b2b;
	padding-bottom: 3px;
	padding-top: 10px;
}

.field {
	margin-top: 10px;
	font-family: CaviarDreams;
	font-size: 20px;
}

.field input {
	border: 0;
	border-bottom: 2px solid #2b2b2b;
	width: 85%;
	text-align: center;
	margin-bottom: 1px;
}

.field input:focus {
	outline: none;
}

.formbutton {
	font-family: Roboto;
	color: #2b2b2b;
	font-size: 20px;
	margin-top: 10px;
	width: 110px;
	height: 35px;
	border: hidden;
	border-radius: 2px;
	transition-duration: 0.5s;
	-webkit-transition: 0.5s;
}

.formbutton:focus {
	outline: none;
}

.formbutton:hover {
	color: white;
	background-color: #aaaaaa;
}

.formbutton a {
	text-decoration: none;
	transition-duration: 0.5s;
}

.formbutton a:visited {
	color: #2b2b2b;
}

.formbutton a:hover {
	color: white;
}

.rememberme {
	position: absolute;
	left: 25px;
}

.troublesomelinks {
	padding-top: 5px;
}

.troublesomelinks a {
	font-family: Roboto;
	font-size: 15px;
	text-decoration: none;
	color: #2b2b2b;
}

.troublesomelinks a:visited {
	color: #2b2b2b;
}

#resetpassword {
	width: 200px;
}
/*Devise styling*/
