/*CSS RESET START - http://meyerweb.com/eric/tools/css/reset/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET END*/

#space01 {
	height: 50px;
	border-top: 1px solid #cecece;
}

.keyboard {
	margin: auto;
	height: 365px;
	width: 1142px;
	background-color: #222222;
}

.keyboard_top {
	height: 125px;
	text-align: center;
}

.keyboard_top h2 {
	font-family: Roboto;
	border-bottom: 1px solid gray;
	padding-top: 5px;
	font-size: 70px;
	color: white;
}

.keyboard_keys {
	position: relative;
	height: 240px;
	width: 1071px;
	margin: auto;
	background-color: white;
}

.keyboard_keys button {
	height: 242px;
	width: 51px;
	margin: 0;
	padding: 0;
	display: inline;
	background-color: white;
	border-top-style: none;
}

.keyboard_keys button:hover {
	background-color: #b2b2b2;
}

.keyboard_keys button:active {
	background-image: linear-gradient(white, #858585);
}

.keyboard_keys button:focus{
	outline: none;
}

.keyboard_white_keys {
	position: absolute;
}

.keyboard_black_keys {
	position: absolute;
	z-index: 1;
}

.keyboard_black_keys button {
	height: 121px;
	width: 26px;
	margin: 0;
	padding: 0;
	display: inline;
	background-color: #222222;
	border-style: hidden;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.keyboard_black_keys button:hover {
	background-color: #191919;
}

.keyboard_black_keys button:active {
	background-image: linear-gradient(#222222, black);
}

.keyboard_black_keys button:focus{
	outline: none;
}

#bk0 {
	margin-left: 36px;
}

#bk1, #bk3, #bk4, #bk6, #bk8, #bk9, #bk11, #bk13, #bk14 {
	margin-left: 26px;
}

#bk2, #bk5, #bk7, #bk10, #bk12 {
	margin-left: 75px;
}

@font-face {
	font-family: Roboto;
	src: asset-url("Roboto-Thin.ttf");
}

@font-face {
	font-family: RobotoLight;
	src: asset-url("Roboto-Light.ttf");
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
	}
	
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.loader {
	margin: auto;
	margin-top: 10px;
	height: 200px;
	width: 200px;
	border: 15px solid #efefef;
	border-radius: 50%;
	border-left-color: #2b2b2b;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: load;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: load;
}

.h1 {
	font-family: Roboto;
	font-size: 55px;
	color: #2b2b2b;
	padding-bottom: 5px;
	padding-top: 10px;
}

.keyboardletters {
	font-family: CaviarDreams;
	font-size: 15px;
	user-select: none;
}

#keyboardmode {
	height: 35px;
	width: 400px;
	margin-top: 0;
	border: none;
	background-color: transparent;
	font-family: RobotoLight;
	font-size: 20px;
	color: #f13333;
	text-shadow: 3px 0px 1px #c10000;
	transition-duration: 0.3s;
	-webkit-transition: 0.3s;
}

#keyboardmode:focus {
	outline: none;
}

#keyboardmode:hover {
	color: white;
	text-shadow: 2px 2px 1px white;
}

.howto {
	text-align: center;
	padding-top: 60px;
	border-top: 1px solid #c3c3c3;
}

.howtosection {
	margin: auto;
	width: 350px;
}

.howtosection h1 {
	font-family: Roboto;
	font-size: 45px;
	color: #2b2b2b;
	padding-bottom: 3px;
	padding-top: 10px;
	border-bottom: 1px solid #c3c3c3;
}

.howtosection p {
	margin-top: 10px;
	font-family: CaviarDreams;
	font-size: 16px;
}