.samplediv {
	margin: auto;
	height: 450px;
	width: 350px;
	overflow-y: auto;
	border: 1px solid gray;
}

.samplediv h1 {
	padding-top: 0;
	font-size: 55px;
	padding-bottom: 5px;
}

.formdiv label {
	font-family: CaviarDreams;
	font-size: 20px;
	display: block;
	padding-bottom: 3px;
}

.formdiv input[type=file] {
	padding-top: 2px;
	margin-bottom: 15px;
}

.formdiv input[type=submit] {
	font-family: Roboto;
	color: #2b2b2b;
	font-size: 18px;
	margin-top: 10px;
	width: 130px;
	height: 35px;
	border: hidden;
	border-radius: 2px;
	transition-duration: 0.5s;
	-webkit-transition: 0.5s;
	margin-bottom: 5px;
}

.formdiv input[type=submit]:focus {
	outline: none;
}

.formdiv input[type=submit]:hover {
	color: white;
	background-color: #aaaaaa;
}

.formdiv textarea {
	resize: none;
	width: 225px;
}

.sampletitle {
	display: block;
	font-family: CaviarDreams;
	font-size: 30px;
}

.samplecommands {
	padding-top: 2px;
	padding-bottom: 10px;
	font-family: CaviarDreams;
	font-size: 16px;
}

.samplecommands a {
	text-decoration: none;
	color: #2b2b2b;
	transition-duration: 0.3s;
	-webkit-transition: 0.3s;
}

.samplecommands a:hover {
	color: #7a7a7a;
}

#newsample a {
	font-size: 25px;
	transition-duration: 0.3s;
	-webkit-transition: 0.3s;
}

#newsample a:hover {
	color: #7a7a7a
}

#usedform {
	height: 300px;
}

#usedform2 {
	height: 340px;
}


#p {
	margin-top: 8px;
}

#samplename {
	font-family: CaviarDreams;
	font-size: 30px;
	margin-bottom: 10px;
}

#showsample {
	height: 165px;
}
