<!DOCTYPE html>
<html>
  <head>
    <title>kTunes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<div class="headerimage"></div>
  		<div class="logodiv">
  		<%= link_to(image_tag("logo.png", :class => "logoimage"), homepage_path) %>
  			<nav align=center>
  				<%= link_to 'How to use', howto_path %>
          <% if current_user%>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <%= link_to 'Samples', samples_path%>
          <% else %>
  				<%= link_to 'Register', new_user_registration_path %>
          <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
          
  			</nav>
        <%= render 'layouts/alerts' %>
  		</div>
  	</header>
    <%= yield %>
  </body>
</html>
